.AStatBar1, .AStatBar2, .AStatBar3, .AStatBar4, .AStatBarX {
  border:0px;
  height:8px;
  display: block;
  margin:0px;
  padding:0px;
  left:0;
  position:relative;
}
.MiniSquare1, .MiniSquare2, .MiniSquare3, .MiniSquare4 {
  border:0px;
  height:8px;
  width:8px;
  margin:0px;
  padding:0px;
}
.AStatBar1 { top:5px;  }
.AStatBar2 { top:-3px; }
.AStatBar3 { top:-3px;}
.AStatBar4 { top:-3px;}
.AStatBarX { background-color:transparent; top:-3px; height:1px; }

.formtable, .formtable P { text-align:left; display:block; }
.formtable tr { vertical-align:top; }
.window_thumb {
  position:absolute;
  border: none;
  background: none;
  left:0;
  top:0;
  margin:0px;
  padding:0px;
  z-index:100;
  overflow:hidden;
  visibility:hidden;
}
.img_thumb {
  border: solid 3px #ffffff;
  background: #000000;
  margin:0px;
  padding:0px;
}
.time_request {
  font-size:83%;
  text-align:right;
}
.invisible { visibility:hidden; display:none; }
.littlefont { font-size:90%; }
table.littlefont th { padding:3px; }
table.littlefont td { padding:0px;padding-left:3px;padding-right:3px; }
#iplist { visibility:hidden; position:absolute; width:200px; z-index:1000; }
.iipsellistitem { float:right; }
#iipsellist { width:100%; font-family:monospace; }